@media screen and (max-width: 767px) {
    .for_responsive {
        margin-left: 0rem !important;
    }
    #sidebar_responsive {
        z-index: 100 !important;
    }
}
@media (min-width: 635px) and (max-width: 775px) {
    .for_responsive {
        margin-left: 12rem !important;
    }
}
.for_responsive {
    min-height: 80vh !important;
}